################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/TheWorld/bin/Debug/netcoreapp1.1
/TheWorld/obj
/TheWorld/wwwroot/lib
